.cart-button {
    width: auto; 
    height: auto;
    cursor: pointer;    
    background-color: #ff0808;
    border: black solid 2px;
    border-radius: 6px;
    font-size: 1em; 
    font-weight: 500;
    display: flex;
}

.cart-button:hover {
    transform: scale(1.2);
}

.cart-image {
    width: 50px;
    height: 50px;
}

button p {
    margin-left: 8px;
}