.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    background: rgb(156, 3, 3);
    padding: 0px;
    border: 4px solid black;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    text-align: center;
  }
  
  .popup-inner img {
    max-width: 100%;
    height: auto;
  }
  
  .detail {
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    text-decoration: none;
    font-size: 1em; 
    font-weight: 500;
    font-family: inherit;
    background-color: #e2e0e0;
    border: 1px solid black;
}

h4{
  margin: 0px;
}
  