.card {
    width: 200px;
    background-color: rgba(255, 0, 0, 0.559);
    border: 3px solid black;
    border-radius: 5px;
    margin: 30px;
}

.imgcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    border: 3px solid black;
    width: 150px;
    height: 200px;
}

.description {
    width: 100px;
}

.detail-button {
    border: 1px solid black;
    color: black;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 1em; 
    font-weight: 500;
    font-family: inherit;
    background-color: #ff0808;
    border: 1px solid black;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  